<h1><%= @the_user.username %></h1>

<dl>
  <dt>
    Private
  </dt>
  <dd>
    <%= @the_user.private %>
  </dd>

  <dt>
    Followers
  </dt>
  <dd>
    <%= @the_user.followers.count %>

    <% if @the_user.id == current_user.id %>

      <div>

        <h4>Pending follow requests</h4>

        <ul>
          <% pending_requests = current_user.received_follow_requests.where(status: "pending") %>
          <% pending_requests.each do |request| %>
            <li>
              <% matching_user = User.where(id: request.sender_id).at(0) %>
              <%= matching_user.username %>

              <form action="/modify_follow_request/<%= request.id %>" method="post">
                <input name="query_status" value="accepted" type="hidden">

                <button>
                  Accept
                </button>
              </form>

              <form action="/modify_follow_request/<%= request.id %>" method="post">
                <input name="query_status" value="rejected" type="hidden">

                <button>
                  Reject
                </button>
              </form>
            </li>
          <% end %>
        </ul>
      </div>

    <% elsif @the_user.id != current_user.id %>
      <div>
        <% matching_f_req = FollowRequest.where({:sender_id => current_user.id, :recipient_id => @the_user.id}) %>
        <% if matching_f_req.count == 0 %>
          <form action="/insert_follow_request" method="post">
            <input type="hidden" name="recipient_id" value="<%= @the_user.id %>">

            <button>
              Follow
            </button>
          </form>

        <% else %>
          <a href="/delete_follow_request/<%= matching_f_req.at(0).id %>">
            Unfollow
          </a>
        <% end %>
      </div>
    <% end %>

  </dd>

  <dt>
    Following
  </dt>
  <dd>
    <%= @the_user.leaders.count %>
  </dd>

</dl>

<nav>
  <ul>
    <li>
      <a href="/users/<%= @the_user.username %>">Profile</a>
    </li>
    <li>
      <a href="/users/<%= @the_user.username %>/liked_photos">Liked photos</a>
    </li>
    <li>
      <a href="/users/<%= @the_user.username %>/feed">Feed</a>
    </li>
    <li>
      <a href="/users/<%= @the_user.username %>/discover">Discover</a>
    </li>
  </ul>
</nav>

<h2>Feed (<%= @the_user.feed.count %>)</h2>

<table border="1">
  <tr>
    <th>
      Image
    </th>

    <th>
      Owner
    </th>

    <th>
      Caption
    </th>

    <th>
      Posted
    </th>

    <th>
      Likes
    </th>

    <th>
    </th>
  </tr>

  <% @the_user.feed.each do |a_photo| %>

    <tr>
      <td>
        <img src=<%= a_photo.image %>>
      </td>

      <td>
        <%= a_photo.poster.username %>
      </td>

      <td>
        <%= a_photo.caption %>
      </td>

      <td>
        <%= time_ago_in_words(a_photo.created_at) %> ago
      </td>

      <td>
        <%= a_photo.likes_count %>
      </td>

      <td>
        <a href="/photos/<%= a_photo.id %>">
          Show details
        </a>
      </td>
    </tr>
  <% end %>
</table>
