<h1>Photo Details</h1>

<dl>
  <dt>
    Image
  </dt>
  <dd>
    <img src="<%= @the_photo.image %>" height="300px">
  </dd>

  <dt>
    Caption
  </dt>
  <dd>
    <p>
      <%= @the_photo.caption %>
    </p>
  </dd>

  <dt>
    Owner
  </dt>
  <dd>
    <%= @the_photo.poster.username %>
  </dd>

  <dt>
    Posted
  </dt>
  <dd>
    <%= time_ago_in_words(@the_photo.created_at) %> ago
  </dd>

  <dt>
    Likes count
  </dt>
  <dd>
    <%= Like.where(photo_id: @the_photo.id ).count %>
  </dd>

  <dt>
    Comments count
  </dt>
  <dd>
    <%= Comment.where(photo_id: @the_photo.id ).count %>
  </dd>

  <dt>
    Fans
  </dt>
  <dd>
    <% fan_names = [] %>
    <% @the_photo.fans.each do |fan| %>
      <% fan_names = fan_names + [fan.username] %>
    <% end %>
    <%= fan_names.to_sentence %>
  </dd>

  <dt>
    Add a fan
  </dt>
  <dd>
    <% matching_like = @the_photo.likes.where(fan_id: current_user.id) %>
    <% if matching_like.count == 0 %>
      <form action="/insert_like" method="post">
        <input type="hidden" value="<%= @the_photo.id %>" name="input_photo_id">
        <button>Like</button>
      </form>
    <% else %>
      <a href="/delete_like/<%= matching_like.first.id %>">
        Unlike
      </a>
    <% end %>

  </dd>

  <% if @the_photo.owner_id == current_user.id %>
    <dt>
      Edit photo
    </dt>
    <dd>
      <form action="/update_photo/<%= @the_photo.id %>" method="post">
        <label for="browser_image">Image</label>
        <input id="browser_image" type="text" name="input_image" placeholder="Enter a URL for the image..." value=<%= @the_photo.image %>>

        <label for="browser_caption">Caption</label>
        <textarea id="browser_caption" name="input_caption" placeholder="Enter a caption for the photo..."><%= @the_photo.caption %></textarea>

        <button>Update photo</button>
      </form>
    </dd>

    <dt>
      Delete photo
    </dt>
    <dd>
      <a href="/delete_photo/<%= @the_photo.id %>">
        Delete this photo
      </a>
    </dd>
  <% end %>

</dl>

<h2>Comments</h2>

<table>
  <tr>
    <th>
      Commenter
    </th>

    <th>
      Comment
    </th>

    <th>
      Posted
    </th>
  </tr>

  <% @the_photo.comments.order(created_at: :desc).each do |a_comment| %>

    <tr>
      <td>
        <%= a_comment.commenter.username %>
      </td>

      <td>
        <%= a_comment.body %>
      </td>

      <td>
        <%= time_ago_in_words(a_comment.created_at) %> ago
      </td>
    </tr>
  <% end %>
</table>

<h3>Add a new comment</h3>

<form action="/insert_comment" method="post">
  <input type="hidden" name="input_photo_id" value="<%= @the_photo.id %>">

  <label for="browser_comment">Comment</label>
  <textarea id="browser_comment" placeholder="Enter a comment..." name="input_comment"></textarea>

  <button>Add comment</button>
</form>
